body, html{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#gol{
	cursor: pointer;
	display: inline-block;
}

#settings{
	padding-left: 3px;
    display: inline; 
}

#controls-container {
	margin: 0px;
	padding: 0px;
    width: 100%;
    display: inline-block; 

    position: absolute;
    bottom: 0px;
    left:0px;
}

#controls-container input, #controls-container button{
	cursor: pointer;
}

#pattern{
	padding: 0px;
	margin: 0px;
	height: 22px;
	width: 100px;
	display: inline;
}

.glyphicon-tint{
	background: -webkit-linear-gradient(#F00, #30F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bootstrap-select button{
	height: 22px;
	padding-top: 0px;
}

.bootstrap-select{
height: 22px;
margin: 0px !important;
}